:root {
    --light-c1: #FCF3FF;
    --dark-c1: #6d2084;
    --medium-c1: #9d73d3;
    --light-c2: #d890e6;
    --medium-c2: #ca82bf;
    --mute-c1: #b48bc6;
    --white-1: #f8faf7;
    --grey-1: #232f57;
    --grey-2: #4b5477;
    --grey-3: #7a819a;
    --grey-4: #a2a9bc;
    --grey-5: #d3d7e0;
    --grey-6: #eceef2;
}

